

/*
 Dark Green : #78BD4C
  Mid Green : #A8FF56
       Lite : #ECFFE0
Dark Purple : #A22FB0
*/


.joinContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #8AD453;
    font-weight: 100;
}

.joinContainer > .button {
    display: block;
    width: 50%;
    margin-bottom: 0;
    color: #ECFFE0;
    font-family: 'Audiowide';font-size: 38px;
    line-height: 1.2;
    text-align: center;
    background-color: #fe9255;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 35px 35px;
    margin: 60px auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.joinContainer > .counterBox {
    float: right;
}

.joinContainer .textField .createPlayerName {
    display: block;
    text-align: center;
    width: 50%;
    font-family: 'Audiowide';
    color: #A22FB0;
    font-weight: 300;
    font-size: 54px;
    border: 1px dotted white;
    border-radius: 10px;
    background: transparent;
    padding: 0;
    margin: 50px auto;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.joinContainer > .titleText {
    margin: 0px auto;
    text-align: center;
    width: 100%;
    height: auto;
    font-family: 'Audiowide';font-size: 38px;
    color: #ECFFE0;
    font-weight: 300;
}

.subTitleText {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    font-family: 'Audiowide';font-size: 22px;
    color: #ECFFE0;
    font-weight: 300;
}
