.joinContainer {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background: #BB6B00;
    padding: 20px;
    width: 600px;
    height: 200px;
    
    font-weight: 100;
    padding: 60px;
}

.joinContainer > .button {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #69a14d;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.joinContainer > .counterBox {
    float: right;
}

.joinContainer .textField {
    color: #251f23;
    margin:0 auto;
    width:185px;
}

.joinContainer > .text {
    margin-top: 30px;
    color: #69a14d;
    font-size: xx-large;
    text-align: center;

}
