.container {
    display: flex;
    flex-flow: column;
    position:  relative;
    width: 100%;
}

.HUDcontainer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.HUDelements {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

.titleText {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding: 1%;
    color: #ffffff;
    font-size: 24px;
}

.text {
    text-align: center;
    padding: 0.5%;
    color: #d4d4d4;
    font-size: 18px;
}

.textLeft {
    text-align: left;
    padding: 0.5%;
    color: #d4d4d4;
    font-size: 18px;
}

.textBigLeftReady {
    text-align: left;
    padding: 0.5%;
    color: #7bff74;
    font-size: -webkit-xxx-large;
}

.textBigLeftNotReady {
    text-align: left;
    padding: 0.5%;
    color: #ff5e5e;
    font-size: -webkit-xxx-large;
}

.textBigRight {
    text-align: right;
    padding: 0.5%;
    color: #ffffff;
    font-size: -webkit-xxx-large;
}



.header {
    width: 100%;
    flex: 0 1 auto;
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content;
    background-color: #11220a93;
    font-weight: 100;
}

.gameInfo {
    display: grid;
    grid-template-columns: auto auto auto;
}

.optionMenu {
    object-fit: contain;
    position: relative;
    flex: 1 1 auto;

}


.button {
    display: flex;  
    position: relative;
    justify-content: center;  
    align-items: center;  
    cursor: pointer;
    color: #ffffff;
}


.button:hover {
	background: #69a14d;;
}

.button:active {
	background: #69a14d;;
}

.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: black;
	height: 100%;
    background-color: transparent;

}


.buttonRed {
    height: 40px;
    display: flex;  
    position: relative;
    justify-content: center;  
    align-items: center;  
    margin-left: 20px;
    margin-right: 20px;
  

    background-color: #ff5e5e;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonGreen {
    height: 40px;
    display: flex;  
    position: relative;
    justify-content: center;  
    align-items: center;  
    margin-left: 20px;
    margin-right: 20px;
  

    background-color: #7bff74;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.settingButton {
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
}



.option {
    display: flex;
    flex-flow: column;
    position:  relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #0c1607cb;
    font-weight: 100;
}





.shareOptions {
    flex: 1 1 auto;
}

.settingsOptions {
    flex: 1 1 auto;
}

.settingsCat {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.backButton {
    text-align: center;
    flex: 0 1 auto;
    position: relative;
    object-fit: contain;
    padding: 0.5%;
}

.setting {
    padding: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr min-content 20% min-content;
}


.playerScore {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
}

.scores {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


