.container {
    display: flex;
    flex-flow: column;
    position:  relative;
    width: 100%;
}

.titleText {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding: 1%;
    color: #ff0;
    font-size: 24px;
}

.text {
    padding: 0.5%;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.textLeft {
    text-align: left;
    padding: 0.5%;
    color: #ff0;
    font-size: 18px;
}





.header {
    width: 100%;
    flex: 0 1 auto;
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content;
    background-color: transparent;
    font-weight: 100;
}

.gameInfo {
    display: grid;
    grid-template-columns: auto auto auto;
}

.optionMenu {
    object-fit: contain;
    position: relative;
    flex: 1 1 auto;
}


.button {
    height: 40px;
    display: flex;  
    position: relative;
    justify-content: center;  
    align-items: center;  
    margin-left: 20px;
    margin-right: 20px;
  

    background-color: #38A700;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.settingButton {
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    background-color: #38A700;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}






.option {
    display: flex;
    flex-flow: column;
    position:  relative;
    width: 100%;
    height: 100%;

    text-align: center;
    background-color: transparent;
    font-weight: 100;
}





.shareOptions {
    flex: 1 1 auto;
}

.settingsOptions {
    flex: 1 1 auto;
}

.settingsCat {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.backButton {
    text-align: center;
    flex: 0 1 auto;
    position: relative;
    object-fit: contain;
    padding: 0.5%;
}

.setting {
    padding: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr min-content 20% min-content;
}


.playerScore {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
}

.scores {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


