.container2 {
    position: absolute;
    clear: both;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #222;
    color: #fff;
    font-weight: 100;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}